.App {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login, #register, #shoeForm {
  background-color: teal;
  color: white;
}

#navBar {
  background-color: teal;
  height: 7%;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
}

.shoeCard {
  height: 400px;
  width: 100%;
  border-radius: 20px;
  margin-top: 5%;
  background-color: rgba(90, 161, 161, 0.5);
}

.shoeCard:hover{
  background-color: teal;
  color: white;
}
  .shoeCardInfo {
    padding: 5%;
  }

.imgContain {
  height: 65%;
  padding: 5%;
}

.shoeImg {
  vertical-align: middle;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 30px;
  background-color: white;
}

#shoePreview {
  width: 200px;
}

#backToTop {
  z-index: 4;
  width: 100%;
  padding-right: 5%;
  padding-bottom: 2%;
}

#backToTop button{
  color: rgb(121, 126, 126);
  width: 100px;
  float: right;
}

h1 {
  color: teal;
}